In [1]:
import numpy as np

In [2]:
import pandas as pd

#### Create pandas series with different data types in different ways

In [3]:
list1 = [1,2,3,4,5,6,7,8,9,10]

In [4]:
list2 = pd.Series(list1)
list2

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [5]:
emp_n = ['ajay','ramesh','vijay','raju','shekar','mahesh']
pd.Series(emp_n)

0      ajay
1    ramesh
2     vijay
3      raju
4    shekar
5    mahesh
dtype: object

In [6]:
pd.Series(emp_n, index = list(range(1,7)))

1      ajay
2    ramesh
3     vijay
4      raju
5    shekar
6    mahesh
dtype: object

In [7]:
emp_de = {'ajay':40,'ramesh':75,'vijay':53,'raju':25,'shekar':30}
pd.Series(emp_de)

ajay      40
ramesh    75
vijay     53
raju      25
shekar    30
dtype: int64

#### Find the attributes of Series of [10,30,40,1,3,6,14,18,23] with index starts from 100

In [8]:
x = [10,30,40,1,3,6,14,18,23]
pd.Series(x)
y = pd.Series(x, index = list(range(100,109)))
y

100    10
101    30
102    40
103     1
104     3
105     6
106    14
107    18
108    23
dtype: int64

In [9]:
y.info()

<class 'pandas.core.series.Series'>
Int64Index: 9 entries, 100 to 108
Series name: None
Non-Null Count  Dtype
--------------  -----
9 non-null      int64
dtypes: int64(1)
memory usage: 144.0 bytes

In [10]:
y.head(5)

100    10
101    30
102    40
103     1
104     3
dtype: int64

In [11]:
y.tail(5)

104     3
105     6
106    14
107    18
108    23
dtype: int64

In [12]:
y.memory_usage()

144

In [13]:
y.describe()

count     9.000000
mean     16.111111
std      13.033078
min       1.000000
25%       6.000000
50%      14.000000
75%      23.000000
max      40.000000
dtype: float64

#### create salaries of 30 employee salaries randomly from 30000-90000 then measure and describe the data using pandas series.

In [14]:
sal = np.random.randint(30000,90000,30)
salary = pd.Series(sal, index = list(range(1,31)))
salary

1     48751
2     51811
3     72380
4     76252
5     30442
6     60304
7     42439
8     55334
9     83037
10    37922
11    75340
12    76611
13    42758
14    71685
15    70320
16    32602
17    60597
18    84569
19    49197
20    47979
21    62950
22    59051
23    67627
24    52412
25    35195
26    48380
27    45420
28    69604
29    81721
30    75813
dtype: int32

In [15]:
salary.describe()

count       30.000000
mean     58950.100000
std      15941.427049
min      30442.000000
25%      48079.250000
50%      59677.500000
75%      72206.250000
max      84569.000000
dtype: float64

In [16]:
salary.mean()

58950.1

In [17]:
salary.median()

59677.5

In [18]:
salary.mode()

0     30442
1     32602
2     35195
3     37922
4     42439
5     42758
6     45420
7     47979
8     48380
9     48751
10    49197
11    51811
12    52412
13    55334
14    59051
15    60304
16    60597
17    62950
18    67627
19    69604
20    70320
21    71685
22    72380
23    75340
24    75813
25    76252
26    76611
27    81721
28    83037
29    84569
dtype: int32

In [19]:
salary.min()

30442

In [20]:
salary.max()

84569

In [21]:
salary.memory_usage()

360

In [22]:
salary.info()

<class 'pandas.core.series.Series'>
Int64Index: 30 entries, 1 to 30
Series name: None
Non-Null Count  Dtype
--------------  -----
30 non-null     int32
dtypes: int32(1)
memory usage: 360.0 bytes

#### What are the similaraties and differences between pandas series and nnumpy array.Prove it with code.

In [23]:
num = [1,2,3,4,5,6,7,8,9]
np.array(num)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [24]:
num1 = [1,2,3,4,5,6,7,8, 9, 'ajay','rakesh','sujith']
pd.Series(num1)

0          1
1          2
2          3
3          4
4          5
5          6
6          7
7          8
8          9
9       ajay
10    rakesh
11    sujith
dtype: object

1. In numpy we can give only numerical values
2. numpy is a homogenious and n dimentional array

1. In pandas we can give both numerical and string values
2. pandas is a heterogenious and single dimentional

#### create pandas series with ranges from 100 to 150 then apply indexing and slicing on it.

In [25]:
emp_id = list(range(100,150))
emp_i = pd.Series(emp_id)
emp_i

0     100
1     101
2     102
3     103
4     104
5     105
6     106
7     107
8     108
9     109
10    110
11    111
12    112
13    113
14    114
15    115
16    116
17    117
18    118
19    119
20    120
21    121
22    122
23    123
24    124
25    125
26    126
27    127
28    128
29    129
30    130
31    131
32    132
33    133
34    134
35    135
36    136
37    137
38    138
39    139
40    140
41    141
42    142
43    143
44    144
45    145
46    146
47    147
48    148
49    149
dtype: int64

In [26]:
emp_i[30] # indexing

130

In [27]:
emp_i[1:10:2] # slicing

1    101
3    103
5    105
7    107
9    109
dtype: int64