### 
1. What are the column names in the Iris dataset?
2. How many rows and columns are there in the dataset?
3. Can you provide a summary of the dataset, including mean, median, and other statistics for each feature?
4. What is the average sepal length?
5. what is the largest petal length, and what is its value?
6. What is the mean and standard deviation of petal width for the Setosa species?
7. Check for missing values in the dataset
8. Extract the Species column using loc and iloc method
9. Drop sepal Width column
10. Get petalwidth 10th value using at and iat

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel(r"C:\Users\Admin\AA Innomatics\Numpy\Iris_clean.xlsx")

#### 1. What are the column names in the iris dataset?

In [3]:
data = df.columns

In [4]:
data

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

#### 2. How many rows and columns are there in the dataset

In [5]:
df.shape

(165, 6)

#### 3. Can you provide a summary of the dataset, including mean, median, and other statistics for each feature?

In [6]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  165.000000     161.000000    159.000000     159.000000    165.000000
mean    83.000000       7.763975      4.713208       4.022642      2.810909
std     47.775517      12.919886     13.468999       2.052505     12.097722
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     42.000000       5.100000      2.800000       1.600000      0.400000
50%     83.000000       5.800000      3.000000       4.500000      1.500000
75%    124.000000       6.500000      3.300000       5.150000      1.900000
max    165.000000     116.300000    130.000000      13.800000    111.100000

#### 4. What is the average sepal length?

In [7]:
avg = df['SepalLengthCm']
avg

0       5.1
1       4.9
2       4.7
3       4.6
4      50.0
       ...
160     7.7
161     6.3
162     7.2
163     6.5
164     6.4
Name: SepalLengthCm, Length: 165, dtype: float64

In [8]:
avg.mean()

7.763975155279503

In [9]:
avg.median()

5.8

In [10]:
avg.memory_usage()

1452

In [11]:
avg.std()

12.919885607054685

In [12]:
avg.min()

4.3

In [13]:
avg.max()

116.3

In [14]:
avg.quantile(1)

116.3

In [15]:
avg.var()

166.9234440993788

#### 5. what is the largest petal length, and what is its value?

In [16]:
df['PetalLengthCm'].max()

13.8

In [17]:
df['PetalLengthCm']

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
160    6.7
161    4.9
162    6.1
163    5.1
164    5.3
Name: PetalLengthCm, Length: 165, dtype: float64

####  6. What is the mean and standard deviation of petal width for the Setosa species?

In [18]:
df.iloc[1:30,4:]

    PetalWidthCm      Species
1            0.2  Iris-setosa
2            0.2  Iris-setosa
3           10.2  Iris-setosa
4            0.2  Iris-setosa
5            0.4          NaN
6            0.3  Iris-setosa
7            0.2  Iris-setosa
8            0.2  Iris-setosa
9            0.1  Iris-setosa
10           0.2  Iris-setosa
11           0.2  Iris-setosa
12          10.1  Iris-setosa
13           0.1  Iris-setosa
14           0.2  Iris-setosa
15           0.4  Iris-setosa
16           0.4  Iris-setosa
17           0.3  Iris-setosa
18           0.3  Iris-setosa
19           0.3  Iris-setosa
20           0.2  Iris-setosa
21           0.4  Iris-setosa
22           0.2  Iris-setosa
23           0.5  Iris-setosa
24           0.2  Iris-setosa
25           0.2  Iris-setosa
26           0.4  Iris-setosa
27           0.2  Iris-setosa
28         110.2  Iris-setosa
29           0.2  Iris-setosa

In [19]:
df['PetalWidthCm'].std()

12.097722110632038

In [20]:
df['PetalWidthCm'].mean()

2.810909090909091

#### 7. Check for missing values in the dataset `

In [21]:
df.isna().sum()

Id               0
SepalLengthCm    4
SepalWidthCm     6
PetalLengthCm    6
PetalWidthCm     0
Species          5
dtype: int64

In [22]:
df[df['Id'].isnull()]

Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

In [23]:
df[df['SepalLengthCm'].isnull()]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
130,131,NaN,2.8,6.1,1.9,Iris-virginica
131,132,NaN,3.8,NaN,2.0,Iris-virginica
152,153,NaN,2.7,4.9,1.8,Iris-virginica
153,154,NaN,3.3,5.7,2.1,Iris-virginica

In [24]:
df[df['SepalWidthCm'].isnull()]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
5,6,5.4,NaN,1.7,0.4,NaN
16,17,50.4,NaN,1.3,0.4,Iris-setosa
52,53,6.9,NaN,4.9,1.5,Iris-versicolor
73,74,6.1,NaN,4.7,1.2,Iris-versicolor
137,138,6.4,NaN,5.5,1.8,Iris-virginica
145,146,6.7,NaN,NaN,2.3,Iris-virginica

In [25]:
df[df['PetalLengthCm'].isnull()]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
9,10,4.9,3.1,NaN,0.1,Iris-setosa
91,92,6.1,3.0,NaN,1.4,Iris-versicolor
112,113,6.8,3.0,NaN,2.1,Iris-virginica
131,132,NaN,3.8,NaN,2.0,Iris-virginica
140,141,6.7,3.1,NaN,2.4,Iris-virginica
145,146,6.7,NaN,NaN,2.3,Iris-virginica

In [26]:
df[df['PetalWidthCm'].isnull()]

Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

In [27]:
df[df['Species'].isnull()]

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm Species
5      6            5.4           NaN            1.7           0.4     NaN
43    44            5.0           3.5            1.6           0.6     NaN
85    86            6.0           3.4            4.5           1.6     NaN
136  137            6.3           3.4            5.6           2.4     NaN
160  161            7.7           2.8            6.7           2.0     NaN

#### 8. Extract the Species column using loc and iloc method

In [28]:
df.loc[:,'Species']

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
160               NaN
161    Iris-virginica
162    Iris-virginica
163    Iris-virginica
164    Iris-virginica
Name: Species, Length: 165, dtype: object

In [29]:
df.iloc[:,5:6]

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
160             NaN
161  Iris-virginica
162  Iris-virginica
163  Iris-virginica
164  Iris-virginica

[165 rows x 1 columns]

#### 9. Drop sepal Width column

In [30]:
df.drop(['SepalWidthCm'], axis = 1)

      Id  SepalLengthCm  PetalLengthCm  PetalWidthCm         Species
0      1            5.1            1.4           0.2     Iris-setosa
1      2            4.9            1.4           0.2     Iris-setosa
2      3            4.7            1.3           0.2     Iris-setosa
3      4            4.6            1.5          10.2     Iris-setosa
4      5           50.0            1.4           0.2     Iris-setosa
..   ...            ...            ...           ...             ...
160  161            7.7            6.7           2.0             NaN
161  162            6.3            4.9           1.8  Iris-virginica
162  163            7.2            6.1           2.5  Iris-virginica
163  164            6.5            5.1           2.0  Iris-virginica
164  165            6.4            5.3           1.9  Iris-virginica

[165 rows x 5 columns]

####  10. Get petalwidth 10th value using at and iat

In [33]:
df.at[9,'PetalWidthCm']

0.1

In [34]:
df.iat[9,4]   # [rows, column]

0.1